body{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background-image: url('../img/degrade-rosa.jpg');
    background-size: cover;    */
}
h1{
    font-size: 30pt;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 40%;
    width: 60%;   
    margin-bottom: 30px; 
    border: solid;   
}
#container input{
    width: 80%;
    height: 25px;
    border: solid gray 1px;    
    border-radius: 5px;
}
#criar{
    width: 18%;
    border-radius: 5px 5px;
    font-size: 16px;
    background-color: rgba(25, 98, 255, 0.5);
}
.inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.items{
    width: 80%;  
    justify-content: center;
}
.novaDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
       
}
.novoElTarefa{
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40px;
    margin: 5px;
    text-align: center;
    
    border: black solid;
    font-size: 13pt;
}
.btnFinalizar {
    width: 60px;
    height: 20px;
}
button,input:focus {
    outline-style: none;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 25pt;
    }
    #container{
        width: 90%;
    }
    .inline{
        width: 100%;
    }
    .items{
        width: 100%;
    }
    .novoElTarefa{
        width: 90%;
        font-size: 12pt;
    }
}